name: bump

on:
  workflow_dispatch:
  schedule:
  - cron: '45 6 * * 6'

permissions:
  contents: write
  pull-requests: write
  id-token: write

env:
  LANG: en_US.UTF-8

jobs:
  bump-pr:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: cachix/install-nix-action@v31
      with:
        github_access_token: ${{ secrets.GITHUB_TOKEN }}
    - uses: cachix/cachix-action@v16
      with:
        name: tek
        signingKey: ${{ secrets.CACHIX_SIGNING_KEY }}
    - id: bounds
      run: nix run .#bump -- --output=ga-pr
    - name: pr
      if: steps.bounds.outputs.commit-message
      uses: peter-evans/create-pull-request@v7
      with: ${{ steps.bounds.outputs }}
